body{
    background-color:rgb(255, 68, 68);
}
h1{
    color:lightgreen;
    background-color:rgb(212, 194, 194);
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadows:1px 1px 38px grey;}
    to{box-shadows:1px 1px 38px white;}
}
p{
    padding-top:10px;
    font-size:25px;
}
